$color-blue-light: #AEDAFD;
$color-blue-bright: #2CCDFB;
$color-blue-medium: #008CFF;
$color-blue-dark: #1B6FBA;

$color-green-light: #C6DABF;
$color-green-bright: #88D498;
$color-green-medium: #1A936F;
$color-green-dark: #114B5F;

$color-purple-light: #DBB8EF;
$color-purple-bright: #BF94DE;
$color-purple-medium: #8E73B7;
$color-purple-dark: #5C2F7A;


$color-home-bright: $color-blue-bright;
$color-home-dark: $color-blue-dark;

$color-blog-bright: $color-green-bright;


$color-oss-bright: $color-purple-bright;
